<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-blue-500 mb-5">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
        <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
            <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" routerLink = "/home" routerLinkActive = "active">
                Home
            </a>
        </div>

        <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
            <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" routerLink = "/addRecord" routerLinkActive = "active">
                Add Record
            </a>
        </div>

        <div class="lg:flex lg:flex-grow items-center w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:justify-start">
            <ul class="flex flex-col lg:flex-row list-none ml-auto">
                <li class="nav-item">
                    <a class="px-3 py-2 flex items-center text-sm uppercase font-bold leading-snug text-white hover:opacity-75" href = "mailto:utkryuk@gmail.com">
                        <i class="fab fa-facebook-square text-lg leading-lg text-white opacity-75"></i>Contact Me
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <router-outlet></router-outlet>
</div>
